body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b6b6e0a4;

    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 30px;
}

.profile {
    display: block;
    margin: 0 auto;
    border-radius: 20%;
    border: 4px solid #354482;
    padding: 5px;
    
}

.content {
    text-align: center;
    max-width: 700px;
    margin: 30px auto;
    padding: 10px;
}

.content h1 {
    color: rgb(31, 31, 31);
}

.content b {
    display: block;
    font-size: 15px;
}

.content p {
    font-size: 15px;
    padding: 30px;
}

button {
 container: 100px;

}

#button {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px 20px;
    background-color: rgb(97, 103, 141);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
}

.about {
    min-height: 10vh;
    box-sizing: border-box;
    
    padding: 50px;
    background-color: #2f2a48;
    color: white;

    text-align: center;
    align-items: left;
}
.about-container{
    max-width: auto;
    margin-top: 0 auto;
    
    display: grid;
    /*adding grid-template-columns to create a 4-column layout*/
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.about-box {
    padding: 30px;
    width: auto; /*soo able can udjust size on prefference*/
    border-radius: 10px;  /*soo that i can udjust sharpness on my edges*/
    border: 2px solid #bfc1c7;
}

.about h2 {
    font-size: 40px;
}

.about p {
    font-size: 12px;
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}